body{
    background-color: #000000;
    color: #FFFFFF;
}

.title{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Oswald';

}

.jumbotron{
    background-color: #000000;
    padding-bottom: 1em
}

.boxes{
    font-family: 'Oswald';
    color: #FFFFFF;
    font-size: 6em;
    text-align: center;
}

.highlights{
    background-color: #8CC63F;
}

.new{
    background-color: #F19027;
}

a{
    color: #FFFFFF;
}

.menu{
    background-color: #505050;
    font-family: 'Roboto'
}

.types{
    background-color: #ab1a86;
}

.who{
    background-color: #00b0da;
}

.first-row{
    padding-bottom: .25em
}

.text-box{
    font-family: 'Roboto';
    text-align: center
}


.line{
    background-color: :red;
}

.reception_img{
    padding-top: 3em
}

.home-page{
    padding-bottom: .5em;
    padding-top: .5em
}

/*Team Template*/
.dion{
    border-radius: 1em;
    border:solid .15em #F7F4DA;
    padding: .5em;

}
.description{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
    font-family: 'Quattrocento';
    font-size: 1.5em;
}

.cindy{
    border-radius: 1em;
    border:solid .15em #F7F4DA;
    padding: .5em;
}

.maureen{
    border-radius: 1em;
    border:solid .15em #F7F4DA;
    padding: .5em;
}

.maggie{
    border-radius: 1em;
    border:solid .15em #F7F4DA;
    padding: .5em;
}

.sade{
    border-radius: 1em;
    border:solid .15em #F7F4DA;
    padding: .5em;

}
.sophia{
    border-radius: 1em;
    border:solid .15em #F7F4DA;
    padding: .5em;
}

.team_row{
    padding-bottom: 2em
}

.maggie_picture{
    /*border:solid .25em #8CC63F;*/
    border:solid .25em #F7F4DA;
}

.dion_picture{
    border:solid .25em #F7F4DA;
}

.cindy_picture{
    border:solid .25em #F7F4DA;
}

.maureen_picture{
    border:solid .25em #F7F4DA;
}

.sophia_picture{
    border:solid .25em #F7F4DA;
}

.sade_picture{
    border:solid .25em #F7F4DA;
}



/*Facility styling*/

.facility_text{
    font-family: 'Quattrocento';
    text-align: center;
    font-size: 2em;
    padding-bottom: 1em;
}

.facility_general{
    font-family: 'Quattrocento';
    font-size: 2em;
    text-align: center
}

.forum_image{
    border: solid 12px #00b0da;
}

.forum_description{
    background-color: #00b0da;
    font-size: .75em;
    text-align: left
}

.test{
    padding-top: 2em
}

.watson_description{
    background-color: #8CC63F;
    font-size: .75em;
    text-align: left;
}

.watson_image{
    border: solid 12px #8CC63F;
}

.demo_description{
    background-color: #ab1a86;
    font-size: .75em;
    text-align: left;
}

.demo_image{
    border: solid 12px #ab1a86;
}