body{
    background-color: #000000;
    color: #FFFFFF;
}

.title{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Oswald';

}

.jumbotron{
    background-color: #000000;
    padding-bottom: .5em
}

.boxes{
    font-family: 'Oswald';
    color: #FFFFFF;
    font-size: 6em;
    text-align: center;
}

.highlights{
    background-color: #8CC63F;
    border: solid 10px #FFFFFF

}

.new{
    background-color: #F19027;
    border: solid 10px #FFFFFF
}

a{
    color: #FFFFFF;
}



.menu{
    background-color: #505050;
    font-family: 'Roboto'
}

.types{
    background-color: #ab1a86;
    border: solid 10px #FFFFFF
}

.who{
    background-color: #00b0da;
    border: solid 10px #FFFFFF

}

.first-row{
    padding-bottom: .25em
}

.text-box{
    font-family: 'Roboto';
    text-align: center
}


.line{
    background-color: :red;
}

.reception_img{
    padding-top: 3em
}

.home-page{
    padding-bottom: .5em;
    padding-top: .5em
}

/*Team Template*/
.dion{
    border-radius: 1em;
    border:solid .15em #8CC63F;
    padding: .5em;

}
.description{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
    font-family: 'Quattrocento';
    font-size: 1.5em;
}

.cindy{
    border-radius: 1em;
    border:solid .15em #F19027;
    padding: .5em;
}

.maureen{
    border-radius: 1em;
    border:solid .15em #ab1a86;
    padding: .5em;
}

.maggie{
    border-radius: 1em;
    border:solid .15em #00b0da;
    padding: .5em;
}

.sade{
    border-radius: 1em;
    border:solid .15em #F04E37;
    padding: .5em;

}
.sophia{
    border-radius: 1em;
    border:solid .15em #00A6A0;
    padding: .5em;
}

.team_row{
    padding-bottom: 2em
}

.maggie_picture{
    /*border:solid .25em #8CC63F;*/
    border:solid .25em #00b0da;
}

.dion_picture{
    border:solid .25em #8CC63F
}

.cindy_picture{
    border:solid .25em #F19027;
}

.maureen_picture{
    border:solid .25em #ab1a86;
}

.sophia_picture{
    border:solid .25em #00A6A0;
}

.sade_picture{
    border:solid .25em #F04E37;
}



/*Facility styling*/

.facility_text{
    font-family: 'Oswald';
    text-align: center;
    font-size: 2em;
    padding-bottom: 1em;
}

.facility_general{
    font-family: 'PT Sans';
    font-size: 2em;
    text-align: center
}

.forum_image{
    border: solid 3px #00b0da;
    border-radius: 1em
}

.forum_description{
    font-size: .75em;
    text-align: left;
    border-radius: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: solid 3px #00b0da;
}

.test{
    padding-top: 2em
}

.watson_description{
    font-size: .75em;
    text-align: left;
    border-radius: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: solid 3px #8CC63F;

}

.watson_image{
    border: solid 3px #8CC63F;
    border-radius: 1em
}

.demo_description{
    font-size: .75em;
    text-align: left;
    border-radius: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: solid 3px #ab1a86;
}

.demo_image{
    border: solid 3px #ab1a86;
    border-radius: 1em
}

/*new page formatting*/

.new-text{
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'PT Sans';
    font-size: 2em;
    text-align: center
}

.new-row{
    padding-top: 2em
}

.photo-wall{
    border-radius: 1em;
    border:solid .15em #ab1a86;
    padding: .5em;
}

.advertising{
    border-radius: 1em;
    border:solid .15em #00b0da;
    padding: .5em;
}

.watson-wall{
    border-radius: 1em;
    border:solid .15em #F19027;
    padding: .5em;
}

.ipad-stands{
    border-radius: 1em;
    border:solid .15em #F04E37;
    padding: .5em;
}

.high-res{
    border-radius: 1em;
    border:solid .15em #8CC63F;
    padding: .5em;
}

.camss-demos{
    border-radius: 1em;
    border:solid .15em #00A6A0;
    padding: .5em;
}

.new-text-padding{
    padding-top: .5em;
    padding-left: 3em;
    padding-right: 3em
}

.new-headline{
    padding-bottom: 4em;
    text-align: center;
    font-family: 'Roboto'
}

/*Highlights*/


.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  font-family: 'Roboto'
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.globe {
  background-color: #00b0da !important;
}

.timeline-badge.calendar {
  background-color: #8CC63F !important;
}

.timeline-badge.check {
  background-color: #F19027 !important;
}
.timeline-badge.pushpin {
  background-color: #ab1a86 !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

.tldate {
  display: block;
  width: 200px;
  background: #414141;
  border: 3px solid #212121;
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

/*Highlights Template*/
.highlights-title{
    text-align: center;
    font-family: 'Roboto'
}

.highlights-regular{
    padding-top: 3em;
    padding-bottom: 4em;
    font-family: 'Roboto'
}

.ASC{
    border: solid 8px #8CC63F;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
}

.FCIC{
    border: solid 8px #F19027;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
}

.CBG{
    border: solid 8px #00b0da ;
    border-radius: 1em;
    padding: 1em;
    text-align: center
}

.asc-button{
    background-color: #8CC63F;
    font-weight: bold;
}

.fcic-button{
    background-color: #F19027;
    font-weight: bold;
}

.cbg-button{
    background-color: #00b0da;
    font-weight: bold
}
.beginning-timeline{
    padding-bottom: 5em;
    font-family: 'Roboto'
}

.highlights-body{
    font-family: 'Oswald'
}

/*Graph Formatting*/
.graph-titles{
    font-family: 'Oswald';
    text-align: center
}

.graphs{
    padding-bottom: 2em;
    padding-top: 2em
}
.events-title{
    text-align: center;
    font-family: 'Oswald';
    padding-bottom: 3em
}

.international-events-title{
    text-align: center;
    font-family: 'Oswald'
}
.attendee_number{
    background-color: #FDB813;
    padding:.5em;
    border-radius: 1em;
}

.event_number{
    background-color: #8CC63F;
    padding:.5em;
    border-radius: 1em;
}

/*footer*/


#footer {

background-color: #505050;
font-family: 'Roboto';
text-align: center
}

.last-row{
    padding-bottom: 1em
}

.contact{
    text-transform: uppercase;

}

.footer-icon{
    text-align: center

}

.footer-text{
    text-indent: center;
    /*border: 2px solid #000000;*/
}