<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    {% include 'header.html' %}
</head>
    <body>
        {% include 'nav.html' %}
        <div class="title">
            <div class="jumbotron">
                <h1>About the center</h1>
                <hr width='50%'>
            </div>
        </div>


        <div class="container">
            <div class="text-box">
                <p class="about-paragraph">The IBM Institute for Electronic Government Briefing Center is designed for domestic and international public sector executives managing the transformation of their organizations in a rapidly changing world. Since the Center's establishment in 1996, over 64,000 visitors from more than 120 countries have engaged in "thought leadership" discussions on the most important issues facing public sector organizations today. Building on these experiences, the Center has garnered unique insights to share on the best practices of innovation and transformation.</p>
                <p class="about-paragraph">The Center serves as a host for customized events, briefings, video conferences, planning sessions, meetings, seminars, demonstrations and receptions, designed around clients' requests. The Center also includes a wide range of demonstrations on how existing and emerging technologies and solutions are used by leading public sector organizations to transform the way they conduct business.</p>
                <p class="about-paragraph"> Co-located with IBM's Center for the Business of Government, the Briefing Center brings clients and IBM leaders in public sector innovation together in a setting that stimulates new thought and introduces what the future may hold as organizations explore new ways to serve their constituents. In 2006 and 2007, the IBM Institute for Electronic Government Briefing Center was recognized as "Briefing Center of the Year" by IBM's International Sales Support Organization.</p>
            </div>
        </div>

        <div class="reception_img">
            <img src="http://www-01.ibm.com/industries/government/ieg/images/ieg_banner.jpg" class="center-block thumbnail">
        </div>

    </body>
</html>