<!DOCTYPE html>{% load staticfiles %}
<html>
    <head>
        <title>IEG 2014</title>

        {% include "header.html" %}
    </head>

    <body>

    {% include "nav.html" %}

    <div class="container-fluid">
        <div class="jumbotron">
            <div class="title">
                <h1>IBM's IEG Briefing Center</h1>
                <h1>2014 Year in Review</h1>
            </div>
        </div>
    </div>

    <div class="boxes">
    <div class="first-row">
        <div class="row">
            <div class="col-lg-1 col-sm-1">
            </div>
        <a href="/highlights">
            <div class="col-lg-5 col-sm-5">
                <div class="highlights">
                    <p class="home-page">Highlights</p>
                </div>
            </div>
        </a>

        <a href="/new">
            <div class="col-lg-5 col-sm-5">
                <div class="new">
                    <p class="home-page">New</p>
                </div>
            </div>
        </a>
            <div class="col-lg-1 col-sm-5">
            </div>
        </div>
        </div>

        <div class="last-row">
            <div class="row">
                <div class="col-lg-1 col-sm-1">
                </div>
            <a href="/types">
                <div class="col-lg-5 col-sm-5">
                    <div class="types">
                        <p class="home-page">Events</p>
                    </div>
                </div>
            </a>

            <a href="/who">
                <div class="col-lg-5 col-sm-5">
                    <div class="who">
                        <p class="home-page">Attendees</p>
                    </div>
                </div>
            </a>
                <div class="col-lg-1 col-sm-5">
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    </body>

</html>
