<!DOCTYPE html>
<html>
<head>
    <title>Facility</title>
    {% include "header.html" %}
</head>
<body>

    {% include "nav.html" %}

    <div class="title">
        <div class="jumbotron">
            <h1>Facility</h1>
            <hr width="25%">
        </div>
    </div>

    <div class="facility">
        <h2 class="events-title">The IEG consists of two fully functional brifing rooms and a demonstration area.</h2>
    </div>

    <div class="container facility_general">
        <div class="row">
            <div class="col-lg-4">
                <h3>The Forum</h3>
                <img src="http://www-01.ibm.com/industries/government/ieg/images/gallery/16.jpg" class="img-responsive center-block forum_image" alt="the forum">
                <div class="test">
                    <ul class="forum_description">
                        <li>52 seats at tables</li>
                        <li>Ability to open glass wall fitting 120 attendees</li>
                        <li>LED Projector with 3 screens</li>
                        <li>Built in speakerphone</li>
                        <li>Video conference abilities</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <h3>The Watson Room</h3>
                <img src="http://www-01.ibm.com/industries/government/ieg/images/gallery/40.jpg" class="img-responsive center-block watson_image" alt="the watson room">
                <div class="test">
                    <ul class="watson_description">
                        <li>9 seats at boardroom table</li>
                        <li>8 additional chairs along the walls</li>
                        <li>LED Projector and screen</li>
                        <li>Built in speakerphone</li>
                        <li>Video conference abilities</li>
                        <li>Watson history wall</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <h3>Demonstration Area</h3>
                <img src="http://www-01.ibm.com/industries/government/ieg/images/gallery/20.jpg" class="img-responsive center-block demo_image" alt="the demonstration area">
                <div class="test">
                    <ul class="demo_description">
                        <li>Watson/Jeopardy</li>
                        <li>Mobile</li>
                        <li>Analytics</li>
                        <li>Cloud/Bluemix</li>
                        <li>Smarter Cities</li>
                        <li>Cyber Security</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% include "footer.html" %}

</body>
</html>