<!DOCTYPE html>
<html>
<head>
    <title>Highlights</title>
    {% include "header.html" %}
</head>
<body>
    {% include "nav.html" %}
    <div class="title">
        <div class="jumbotron">
            <h1>Hightlights</h1>
            <hr width="30%">
        </div>
    </div>



  <script>
    window.console = window.console || function(t) {};
    window.open = function(){ console.log('window.open is disabled.'); };
    window.print = function(){ console.log('window.print is disabled.'); };
    // Support hover state for mobile.
    if (false) {
      window.ontouchstart = function(){};
    }
  </script>

</head>

<body>
    <div class="container">
        <h2 class="highlights-title">The IEG had 435 events in 2014. </h2>
        <h3 class="highlights-title">We regularly host Seminars, Briefings and Meetings for the following organizations:</h3>
    </div>

    <div class="container highlights-regular">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="ASC">Analytics Solution Center</h3>
            </div>
            <div class="col-lg-4">
                <h3 class="FCIC">Federal Cloud Innovation Center</h3>
            </div>
            <div class="col-lg-4">
                <h3 class="CBG">Center for the Business of Government</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="highlights-title">Here is a variety of events held at the IEG in 2014.</h2>
        <h4 class="highlights-title">For a full list of events, please visit the IEG's IBM-internal Connections page.</h4>
    </div>
<div class="container">
    <ul class="timeline">
    <li><div class="tldate">Timeline</div></li>

        <li>
          <div class="timeline-badge calendar"><i class="glyphicon glyphicon-calendar"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Potomac Valley Kickoff</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> February 7</small></p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge check"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Smarter Cities Coundil</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>February 25-26</small></p>
            </div>
            <div class="timeline-body">
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge pushpin"><i class="glyphicon glyphicon-pushpin"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">NACo</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> February 27</small></p>
            </div>
            <div class="timeline-body">
                <p>National Organization of County Organizers</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
        <div class="timeline-badge calendar"><i class="glyphicon glyphicon-calendar"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mobile Roadshow</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> March 4</small></p>
            </div>
            <div class="timeline-body">
          </div>
        </li>

        <li>
          <div class="timeline-badge check"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">ASC and Carnegie Mellon Joint Symposium</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>March 20</small></p>
            </div>
            <div class="timeline-body">
                <p>The Cutting Edge of Cyber Security: A Joint Symposium Sponsored by IBM's Analytics Solution Center and Carnegie Mellon University's Heinz College of Informatio Systems, Cylab, Software Engineering Institute CERT Divison</p>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge pushpin"><i class="glyphicon glyphicon-pushpin"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">System Z Anniversary</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>April 8</small></p>
            </div>
            <div class="timeline-body">
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge globe"><i class="glyphicon glyphicon-globe"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">USTTI Cyber Security</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>April 24-25</small></p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge calendar"><i class="glyphicon glyphicon-calendar"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">NACo County Leadership Institute</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>June 2- June 6</small></p>
            </div>
            <div class="timeline-body">
            </div>
          </div>
        </li>

         <li>
          <div class="timeline-badge check"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Universidad Pontificia Comillas</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>July 16</small></p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge globe"><i class="glyphicon glyphicon-globe"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">USTTI eGovernment for Emerging Nations</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>July 31</small></p>
            </div>
            <div class="timeline-body">
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge pushpin"><i class="glyphicon glyphicon-pushpin"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Africa Open Data Jam</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>August 8</small></p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge calendar"><i class="glyphicon glyphicon-calendar"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Cyber X Force</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>August 19</small></p>
            </div>
            <div class="timeline-body">
            </div>
          </div>
        </li>

         <li>
          <div class="timeline-badge globe"><i class="glyphicon glyphicon-globe"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">USTTI Cyber Security</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>September 18-19</small></p>
            </div>
          </div>
        </li>


        <li class="timeline-inverted">
          <div class="timeline-badge globe"><i class="glyphicon glyphicon-globe"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">USTTI Social Media in Government</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>October 24</small></p>
            </div>
            <div class="timeline-body">
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge check"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Potomac Valley Bluemix</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>November 12</small></p>
            </div>
          </div>
        </li>


    </ul>
</div>

  <script src='http://assets.codepen.io/assets/libs/fullpage/jquery-c152c51c4dda93382a3ae51e8a5ea45d.js'></script>

  <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage('resize', "*");
    }
  </script>

</body>

</html>

