<!DOCTYPE html>
<html>
<head>
    <title>Team</title>
    {% include "header.html" %}
</head>
<body>
{% include "nav.html" %}

<div class="title">
    <div class="jumbotron">
        <h1>Team</h1>
        <hr width="25%">
    </div>
</div>

<div class="container">
    <div class="row team_row">
        <div class="col-lg-4">
            <img src="https://media.licdn.com/media/p/1/000/10b/33d/033d744.jpg" class="team img-circle center-block maureen_picture" width="150" height="150" alt="maureen carlin">
            <div class="description">
                <div class="maureen">
                    <p>Maureen Carlin</p>
                    <p>Scheduling, Administration</p>
                    <p>carlin@us.ibm.com</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/1/000/108/27e/0a1c6ab.jpg" class="team img-circle center-block maggie_picture" width="150" height="150" alt="maggie criqui">
            <div class="description">
                <div class="maggie">
                    <p>Maggie Criqui</p>
                    <p>Event Manager</p>
                    <p>mcriqui@us.ibm.com</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="http://i.imgur.com/tRRqxVu.png" class="team img-circle center-block cindy_picture" width="150" height="150" alt="cindy dalton">
            <div class="description">
                <div class="cindy">
                    <p>Cindy Dalton</p>
                    <p>Briefing Manager</p>
                    <p>daltonc@us.ibm.com</p>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-lg-4">
            <img src="https://media.licdn.com/media/p/4/000/17d/3b0/27c9136.jpg" class="team img-circle center-block dion_picture" width="150" height="150" alt="dion rudnicki">
            <div class="description">
                <div class="dion">
                    <p>Dion Rudnicki</p>
                    <p>VP, Business Development</p>
                    <p>rudnicki@us.ibm.com</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <img src="http://i.imgur.com/bGp9EGn.png" class="team img-circle center-block sade_picture" width="150" height="150" alt="sade spriggs">
             <div class="description">
                <div class="sade">
                    <p>Sade Spriggs</p>
                    <p>I/T Infrastructure</p>
                    <p>sspriggs@us.ibm.com</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="http://i.imgur.com/Ho3pum6.png" class="team img-circle center-block sophia_picture" width="150" height="150" alt="sophia wheeler">
             <div class="description">
                <div class="sophia">
                    <p>Sophia Wheeler</p>
                    <p>Reception, Administration</p>
                    <p>washings@us.ibm.com</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}



</body>
</html>
