<!DOCTYPE html>
<html>
<head>
    <title>Types of Events</title>
    {% include "header.html" %}
    {% include "events_charts.html" %}
</head>

<body>
    {% include "nav.html" %}
    <div class="title">
        <div class="jumbotron">
            <h1>Events</h1>
            <hr width='25%'>
        </div>
    </div>

    <div class="container">
        <h2 class="events-title">In 2014, the IEG had a total of <strong>436</strong> events.</h2>
    </div>

    <div class="container graphs">
            <div class="row">
                <h2 class="graph-titles">Events by Quarter</h2>
                    <div id="events_by_Q" style="width:75%; height:400px;" class="center-block">
                    </div>
            </div>
    </div>

    <hr width='85%'>

    <div class="container graphs">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="graph-titles">Events by Industry (excluding other)</h2>
                    <div id="events-by-industry" style="height:400px;" class="center-block">
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="graph-titles">Events by 2015 Business Area (excluding other)</h2>
                    <div id="events-by-2015-business-area" style="height:400px;" class="center-block">
                    </div>
                </div>
            </div>
    </div>

    <hr width='85%'>

    <div class="container graphs">
        <h1 class="international-events-title">International Events</h1>
    </div>

     <div class="container graphs">
        <h2 class="graph-titles">Map of International Events</h2>
        <img src="http://i.imgur.com/Mrb7ur2.png" alt="World Map" class="img-responsive center-block">
    </div>


    <div class="container graphs">
        <div class="row">
            <h2 class="graph-titles">International Events by Region</h2>
                <div id="international-by-region" style="width:75%; height:400px;" class="center-block">
                </div>
        </div>
    </div>










</body>
</html>